@media (max-width: 768px) {
    /* Шапка */
    .booking-header {
        flex-direction: column;
        padding: 15px;
    }
    
    .booking-header .logo {
        margin-bottom: 15px;
    }

    
    /* Основной контент */
    .booking-container {
        padding: 0 15px;
        margin: 60px auto;
    }
    
    /* Шаги бронирования */
    .booking-steps {
        margin: 30px 0;
    }
    
    .step p {
        font-size: 0.8rem;
    }
    
    /* Форма */
    .booking-form {
        padding: 20px;
    }

    /* Подвал */
    .footer-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
    .footer-brand {
        text-align: center;
        align-items: center;
    }
    
    .footer-logo {
        justify-content: center;
    }
    
    .social-block {
        align-items: center;
    }
    
    .social-icons {
        justify-content: center;
    }
    
    .contact-btn {
        margin: 0 auto;
    }
    
    .contacts-block {
        text-align:start;
    }
    
    .contacts-list {
        align-items: center;
        flex-direction: column;
    }
    
    .footer-bottom {
        margin-top: 30px;
    }
}